html,
body {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    background-color: #284B63;
    justify-content: space-between;
    padding: 0 35px 0 35px;
}

.header-links ul {
    list-style: none;
}

.header-links ul>li,
.header-links ul>li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 0 10px 0 10px
}

.white-background-block {
    margin-left: 35px;
}

.main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .main-title {
        padding: 27px 50px 27px 50px;
    }
}

h1 {
    font-size: 45px;
    font-style: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
}

.main-title h2 {
    display: flex;
    justify-content: center;
    font-size: 21px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 750px) {
    .main-title h2 {
        padding: 0 29px 0 25px;
        font-weight: normal;
    }
}

.text-of-article {
    display: flex;
    justify-content: space-between;
    padding: 0 0px 40px 0;
    align-items: flex-start;
}

@media screen and (max-width: 750px) {
    .text-of-article {
        flex-direction: column;
        padding-right: 35px;
    }
}

.text-of-article p {
    color: #6E757C
}

.text-of-article h4 {
    font-family: roboto;
    margin-block-end: 0
}

.text {
    display: flex;
    flex-direction: column;
    margin: 0 80px 0 0;

}

@media screen and (max-width: 750px) {
    .text {
        margin: 0;
    }
}

.cakes-with-cream {
    display: flex;
    min-width: 50%;
    max-width: 100%;

}

.block-newsletter {
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100px;
}

@media screen and (max-width: 750px) {
    .block-newsletter {
        padding: 33px 83px 19px 57px;
    }
}

.block-newsletter p {
    padding: 0 62px 0 72px;
}

.button-newsletter,
.button-learn-more {
    background-color: #FDF3DB;
    border: 1px solid #F2CB6C;
    border-radius: 2px;
    height: 30px;
}

.presentation-pastries {
    display: flex;

    margin-bottom: 50px;
}

@media screen and (max-width: 750px) {
    .presentation-pastries {
        flex-direction: column;
    }
}

.presentation-pastries p {
    color: #6E757C;
}

.maccaron-presentation,
.round-pastrie-presentation {
    margin-right: 120px;
}


@media screen and (max-width: 750px) {
    .maccaron-presentation {
        padding-bottom: 30px;
    }

    .maccaron-presentation,
    .round-pastrie-presentation {
        margin-right: 35px;
    }
}

.icing-pastrie {
    padding-right: 120px;
}

.text-feedback {
    padding-left: 120px;
    padding-right: 50px;
}

@media screen and (max-width: 750px) {
    .text-feedback {
        padding-left: 20px;
        padding-right: 20px;
    }
}


.round-pastrie-presentation img,
.maccaron-presentation img {
    height: 170px;
    width: 170px;
    border-radius: 85px;
}

.feedback {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 750px) {
    .feedback {
        flex-direction: column;
        align-items: flex-start;
    }
}

.feedback img {
    box-sizing: border-box;
    min-width: 50%;
    max-width: 100%;
    padding: 0 120px 0 20px;
}

@media screen and (max-width: 750px) {
    .feedback img {
        padding: 0 20px 0 20px;
    }
}

.signature {
    text-align: right;
}

.blue-block-feedback {
    padding: 60px 35px 60px 35px;
    background-color: #F5F5F5C4;
}

.links-in-footer {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    .links-in-footer {
        flex-direction: column;
    }

}

.nav-title {
    font-weight: bold;
}

footer {
    margin: 50px 20px 20px 20px;
}

.copyright-social-network {
    display: flex;
    justify-content: space-between;

    border-top: 1px solid gray;
}

.social-network {
    display: flex;
    margin-right: 1px;
}

.linkedin img,
.twitter img {
    width: 32px;
    height: 32px;
    padding: 0 4px 0 4px;
}

.social-network a {
    display: flex;
    align-items: center;
}

.collections-links ul,
.link-in-bakery ul {
    list-style: none;
    padding-left: 0;
}

.collections-links li:not(:last-child),
.link-in-bakery li:not(:last-child) {
    margin-bottom: 5px;
}

.collections-links a,
.link-in-bakery a {
    text-decoration: none;
}

.logo-in-footer {
    min-width: 50%;
}

.links-and-button-in-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 50%;
    box-sizing: border-box;
    padding-left: 40px;

}

@media screen and (max-width: 500px) {
    .links-and-button-in-footer {
        padding-left: 0;
    }

}